Repository CometVisu/CometVisu, pull requests merged in 2018-09, with the labels that each got.

#721 shorter stack traces:
  source/class/cv/Application.js
Labels: bug / bugfix, core

#725 added Download Submoduls in Documentation
  doc/manual/de/colab/index.rst
Labels: documentation, enhancement

#728 change folder hint
  doc/manual/de/config/widgets/include/index.rst
  doc/manual/en/config/widgets/include/index.rst
Labels: documentation

#727 update monaco editor to latest version and do not try to load 'en' la…
  package.json
  source/editor/text/index.html
Labels: bug / bugfix, editor
