Repository CometVisu/CometVisu, pull requests merged in 2018-10, with the labels that each got.

#726 add include files to config_check by resolving the includes …
  source/check_config.php
Labels: core, enhancement

#724 Plugin TR-064
  config.json
  doc/manual/de/config/widgets/index.rst
  doc/manual/de/config/widgets/plugins/tr064/_static/fritzbox_overview.png
  doc/manual/de/config/widgets/plugins/tr064/_static/fritzbox_user.png
  doc/manual/de/config/widgets/plugins/tr064/_static/hidden_config_de.png
  doc/manual/de/config/widgets/plugins/tr064/index.rst
  doc/manual/en/config/widgets/index.rst
  doc/manual/en/config/widgets/plugins/tr064/index.rst
  karma.conf.js
  source/class/cv/plugins/tr064/CallList.js
  source/manager.php
  source/resource/config/hidden.php
  source/resource/plugins/tr064/proxy.php
  source/resource/plugins/tr064/soap.php
  source/resource/plugins/tr064/tr064.css
  source/resource/visu_config.xsd
  source/test/fixtures/tr064_proxy.xml
  source/test/fixtures/tr064_soap.json
  source/test/karma/plugins/tr064-spec.js
Labels: enhancement, plugins

#731 Improve tr064 documentation
  doc/manual/de/config/widgets/plugins/tr064/index.rst
  doc/manual/en/config/widgets/plugins/tr064/_static/fritzbox_overview.png
  doc/manual/en/config/widgets/plugins/tr064/_static/fritzbox_user.png
  doc/manual/en/config/widgets/plugins/tr064/_static/hidden_config_en.png
  doc/manual/en/config/widgets/plugins/tr064/index.rst
  source/manager.php
Labels: bug / bugfix, documentation, enhancement

#733 fix the URL for loading config files via HTTP when run by quercus PHP…
  source/check_config.php
Labels: bug / bugfix, core

#732 fix api-doc references to use the full classname and replace the year…
  doc/manual/de/config/widgets/plugins/colorchooser/index.rst
  doc/manual/de/config/widgets/plugins/diagram/index.rst
  doc/manual/de/config/widgets/plugins/diagram_info/index.rst
  doc/manual/de/config/widgets/plugins/gauge/index.rst
  doc/manual/de/config/widgets/plugins/openhab/index.rst
  doc/manual/de/config/widgets/plugins/powerspectrum/index.rst
  doc/manual/de/config/widgets/plugins/speech/index.rst
  doc/manual/de/config/widgets/plugins/strftime/index.rst
  doc/manual/de/config/widgets/plugins/timeout/index.rst
  doc/manual/de/config/widgets/plugins/tr064/index.rst
  source/class/cv/plugins/diagram/AbstractDiagram.js
Labels: bug / bugfix, documentation

#734 add Screenshot fixtures support
  Gruntfile.js
  doc/manual/de/config/widgets/plugins/tr064/index.rst
  doc/manual/de/config/widgets/web/index.rst
  source/resource/visu_config.xsd
  source/test/fixtures/web.html
  source/test/protractor/pages/EditorMock.js
  source/test/protractor/pages/Mock.js
  utils/docutils/directives/helper/widget_example_parser.py
  utils/docutils/directives/widget_example.py
  utils/screenshots-spec.js
Labels: documentation, enhancement

#719 update script for CometVisu installation
  Gruntfile.js
  update.py
Labels: core, enhancement

#735 - introduce cv.ui.layout.States to be able to listen to events when e…
  source/class/cv/plugins/PowerSpectrum.js
  source/class/cv/ui/layout/ResizeHandler.js
  source/class/cv/ui/layout/States.js
  source/class/cv/ui/structure/AbstractBasicWidget.js
  source/class/cv/ui/structure/AbstractWidget.js
  source/class/cv/ui/website/Slider.js
  source/resource/designs/designglobals.css
Labels: bug / bugfix, core

#737 Improving the metal-Design
  source/class/cv/TemplateEngine.js
  source/resource/designs/metal/basic.css
  source/resource/visu_config.xsd
Labels: designs, enhancement

#739 add dockerfile and nightly builds of docker images
  .travis.yml
  Dockerfile
  Gruntfile.js
  source/class/cv/ui/NotificationCenter.js
  source/test/karma/plugins/tr064-spec.js
  source/test/karma/ui/NotificationCenter-spec.js
  utils/docker/entrypoint
  utils/travis/docker_push.sh
Labels: core, enhancement

#741 Make manager more robust
  source/manager.php
Labels: enhancement

#742 create empty resource/config/backup dir in build
  utils/commands/build.py
Labels: bug / bugfix, core

#744 Enhance docker labels
  Dockerfile
  utils/travis/docker_push.sh
Labels: bug / bugfix, docker, enhancement
