Repository CometVisu/CometVisu, pull requests merged in 2018-05, with the labels that each got.

#700 Fix MultiTrigger
  source/class/cv/ui/structure/pure/MultiTrigger.js
Labels: bug / bugfix

#702 fix forceReload for CSS-Resources
  source/class/cv/Application.js
  source/class/cv/util/ScriptLoader.js
Labels: bug / bugfix, designs

#704 return only pages in getParentPage
  source/class/cv/ui/structure/AbstractBasicWidget.js
Labels: bug / bugfix, core

#703 Fix image refresh force
  source/class/cv/ui/common/Refresh.js
Labels: bug / bugfix
