Repository CometVisu/CometVisu, pull requests merged in 2018-12, with the labels that each got.

#768 copy IconConfig.js source file to build to make it available for the …
  config.json
Labels: bug / bugfix

#779 Enhance config https
  doc/manual/de/config/examples/_static/visu_config_metal_haegar80.xml
  doc/manual/de/config/examples/_static/visu_config_metal_merlin123.xml
  doc/manual/de/config/examples/_static/visu_config_metal_swiss.xml
  package-lock.json
  source/resource/config/visu_config.xml
  source/resource/demo/visu_config_2d3d.xml
  source/resource/demo/visu_config_demo.xml
  source/resource/demo/visu_config_demo_flat.xml
  source/resource/demo/visu_config_demorss.xml
  source/resource/demo/visu_config_empty.xml
  source/resource/demo/visu_config_gauge.xml
  source/resource/demo/visu_config_metal.xml
  source/resource/demo/visu_config_responsive.xml
Labels: documentation, enhancement

#781 Enhance editor and close #117 #123 #190
  source/editor/bin/save_config.php
  source/editor/dataproviders/list_all_addresses.php
  source/editor/dataproviders/list_all_rrds.php
  source/editor/lib/Configuration.js
  source/editor/lib/Editor.css
  source/editor/lib/Editor.js
Labels: bug / bugfix, editor, enhancement

#790 Update startpage parameter description to describe the new behaviour
  doc/manual/de/config/url-params.rst
Labels: bug / bugfix, documentation

#786 invalidate backdrop once the page gets visible
  source/class/cv/ui/structure/pure/Page.js
Labels: bug / bugfix, core

#789 Invalidate cache
  source/class/cv/ConfigCache.js
Labels: bug / bugfix, core

#793 Enhance documentation
  doc/manual/de/colab/index.rst
  doc/manual/de/install/docker.rst
  doc/manual/de/install/timberwolf.rst
Labels: documentation, enhancement

#788 Allow external files to be loaded:
  doc/manual/de/config/customizing.rst
  doc/manual/de/config/index.rst
  doc/manual/de/config/xml-format.rst
  source/class/cv/Application.js
  source/class/cv/TemplateEngine.js
  source/class/cv/parser/MetaParser.js
  source/class/cv/parser/WidgetParser.js
  source/class/cv/util/ScriptLoader.js
  source/editor/lib/Configuration.js
  source/editor/lib/Schema.js
  source/resource/config/structure_custom.js
  source/resource/visu_config.xsd
Labels: core, enhancement

#791 add templating feature for config files
  doc/manual/de/config/xml-format.rst
  source/class/cv/Application.js
  source/class/cv/TemplateEngine.js
  source/class/cv/parser/MetaParser.js
  source/class/cv/parser/WidgetParser.js
  source/resource/config/media/.gitignore
  source/resource/visu_config.xsd
  source/test/karma/xml/parser/Meta-spec.js
Labels: core, enhancement

#796 Fix little docker issue
  Dockerfile
Labels: bug / bugfix, docker

#797 Enhance docu - Clarify that hidden config stays hidden when reporting
  doc/manual/de/config/hidden-config.rst
  doc/manual/de/config/url-params.rst
Labels: documentation, enhancement
