Repository CometVisu/CometVisu, pull requests merged in 2018-11, with the labels that each got.

#749 Make Docker build process more clean by splitting off the base stuff
  Dockerfile
  utils/docker/entrypoint
Labels: docker

#750 Fix manager media handling
  source/manager.php
Labels: bug / bugfix, docker

#752 check if Localstorage is available
  source/class/cv/Application.js
  source/class/cv/Config.js
  source/class/cv/ConfigCache.js
  source/class/cv/TemplateEngine.js
  source/class/cv/report/Replay.js
Labels: bug / bugfix

#754 Update dependencies to the current releases
  .travis.yml
  Gruntfile.js
  package-lock.json
  package.json
  source/class/cv/ui/NotificationCenter.js
  source/editor/text/monaco/completion-provider.js
  source/test/karma/core/notifications/Router-spec.js
  source/test/karma/ui/NotificationCenter-spec.js
  utils/screenshots-spec.js
Labels: core, enhancement

#755 Add description for measurement to the XSD
  source/resource/visu_config.xsd
Labels: bug / bugfix, documentation

#756 Fix docu diagram
  doc/manual/de/config/_static/hidden_config_de.png
  doc/manual/de/config/index.rst
  doc/manual/de/config/widgets/plugins/diagram/_static/Diagram_influx_editor.png
  doc/manual/de/config/widgets/plugins/diagram/index.rst
  source/resource/visu_config.xsd
Labels: bug / bugfix, documentation, enhancement
