Repository CometVisu/CometVisu, pull requests merged in 2019-11, with the labels that each got.

#966 fix initialization of speech plugin in cached mode and wait for voice…
  source/class/cv/ConfigCache.js
  source/class/cv/core/notifications/SpeechHandler.js
  source/class/cv/plugins/Speech.js
Labels: bug / bugfix, plugins

#967 Fix: XML DOM only has textContent but not innerText
  source/class/cv/parser/MetaParser.js
  source/class/cv/plugins/diagram/AbstractDiagram.js
Labels: bug / bugfix

#968 call _refreshAction when dom is already available (happens in cached …
  source/class/cv/plugins/OpenweatherMap.js
Labels: bug / bugfix, plugins

#971 make sure that no values are send during slider movement when send_on…
  source/class/cv/ui/structure/pure/Slide.js
Labels: bug / bugfix, widgets

#974 fix client build and change openhab example address to a more default…
  client/oo.loader.tmpl.js
  client/source/index-oh2-jquery.html
Labels: bug / bugfix, client
