Repository CometVisu/CometVisu, pull requests merged in 2019-02, with the labels that each got.

#847 add connected property to provide the same api as the real client
  source/class/cv/io/Mockup.js
Labels: bug / bugfix, core

#850 Fix #832 by handling unset attributes better
  source/editor/lib/Configuration.js
  source/editor/lib/Editor.js
Labels: bug / bugfix, editor

#852 Fix nearly all of the remaining doc errors
  doc/manual/de/config/size-attributes.rst
  doc/manual/de/config/widgets/index.rst
  doc/manual/de/config/widgets/navbar/index.rst
  doc/manual/de/config/widgets/wgplugin_info/index.rst
  doc/manual/en/config/size-attributes.rst
  doc/manual/en/config/widgets/index.rst
  doc/manual/en/config/widgets/plugins/tr064/index.rst
  utils/docutils/directives/api_doc.py
Labels: bug / bugfix, documentation

#848 Fix clock plugin
  config.json
  source/class/cv/plugins/Clock.js
  source/resource/libs/jquery-ui.js
  source/resource/libs/jquery-ui.min.js
  source/resource/libs/jquery.svg.js
  source/resource/libs/jquery.svg.min.js
Labels: bug / bugfix, plugins

#853 fix some screenshot errors:
  doc/manual/en/config/widgets/infoaction/index.rst
  doc/manual/en/config/widgets/reload/index.rst
  utils/screenshots-spec.js
Labels: bug / bugfix, documentation

#858 Better handling of version tags
  Gruntfile.js
Labels: enhancement

#859 fix address regex
  source/resource/visu_config.xsd
Labels: bug / bugfix, core

#865 close popups when the corresponding page is left.
  source/class/cv/plugins/diagram/AbstractDiagram.js
  source/class/cv/ui/PageHandler.js
  source/class/cv/ui/Popup.js
  source/class/cv/ui/PopupHandler.js
Labels: enhancement, plugins

#866 fix the listener id generation and the update listeners callback para…
  source/class/cv/ui/TrickOMatic.js
Labels: bug / bugfix, core

#867 fix doc version path links if they differ from the real version name
  doc/manual/de/conf.py
  utils/commands/doc.py
  utils/docutils/template/sphinx_rtd_theme-0.2.4/sphinx_rtd_theme/static/js/theme.js
  utils/travis/deploy.sh
Labels: bug / bugfix, documentation

#869 init active state on load
  source/class/cv/ui/TrickOMatic.js
Labels: bug / bugfix, core

#870 Place RSSLOG database file in the config/media directory
  source/resource/plugins/rsslog/rsslog.php
Labels: bug / bugfix, enhancement, plugins

#875 Make sure elements are correctly positioned after page switch
  source/class/cv/ui/layout/ResizeHandler.js
Labels: bug / bugfix

#877 do not override grid settings when tooltip is enabled
  source/class/cv/plugins/diagram/AbstractDiagram.js
Labels: bug / bugfix, plugins

#880 enable sentry reports in demo-source
  config.json
  utils/travis/deploy.sh
Labels: enhancement

#878 Fix template parser
  source/class/cv/parser/WidgetParser.js
Labels: bug / bugfix, core
