Repository CometVisu/CometVisu, pull requests merged in 2019-01, with the labels that each got.

#799 Allow self signed HTTPS connections for InfluxDB
  doc/manual/de/config/widgets/plugins/diagram/index.rst
  source/editor/dataproviders/list_all_influxdbs.php
  source/editor/dataproviders/list_relevant_influxdb_fields.php
  source/editor/dataproviders/list_relevant_influxdb_tags.php
Labels: enhancement, plugins

#800 fix loading problem of default config in text editor
  source/editor/text/index.html
Labels: bug / bugfix, editor

#801 enable testMode when value == "1" (as documented in manual)
  source/class/cv/Config.js
Labels: bug / bugfix, core

#804 Enhance editor: make async
  source/editor/dataproviders/DataProviderConfig.js
  source/editor/lib/ActiveInput.js
  source/editor/lib/DataProvider.js
  source/editor/lib/Editor.js
Labels: editor, enhancement

#805 make sure that the custom css files are loaded after the design css f…
  source/class/cv/parser/MetaParser.js
Labels: bug / bugfix, core

#802 do not increase blocker counter for unique messages: This unblocks th…
  source/class/cv/core/notifications/Router.js
  source/class/cv/data/Model.js
  source/class/cv/ui/BodyBlocker.js
  source/class/cv/ui/Popup.js
Labels: bug / bugfix, core

#807 fix plugin init errors
  source/class/cv/plugins/MobileMenu.js
  source/class/cv/plugins/OpenweatherMap.js
  source/class/cv/plugins/UpnpController.js
Labels: bug / bugfix, plugins

#808 Fix docu for timberwolf
  doc/manual/de/install/timberwolf.rst
Labels: bug / bugfix, docker, documentation

#806 fixes for calendarlist plugin to make it load
  source/class/cv/plugins/CalendarList.js
  source/resource/plugins/calendarlist/calendarlist.php
Labels: bug / bugfix, plugins

#809 Fix plugins
  source/class/cv/plugins/OpenweatherMap.js
  source/class/cv/plugins/UpnpController.js
  source/resource/plugins/openweathermap/owm/jquery.owm.js
Labels: bug / bugfix, plugins

#810 fix navbar selector
  source/class/cv/ui/PagePartsHandler.js
Labels: bug / bugfix, core

#813 fix more documentation problems:
  doc/manual/en/config/examples/swiss.rst
  doc/manual/en/config/widgets/audio/index.rst
  doc/manual/en/config/widgets/break/index.rst
  doc/manual/en/config/widgets/image/index.rst
  doc/manual/en/config/widgets/imagetrigger/index.rst
  doc/manual/en/config/widgets/infoaction/index.rst
  doc/manual/en/config/widgets/notificationcenterbadge/index.rst
  doc/manual/en/config/widgets/plugins/link/index.rst
  doc/manual/en/config/widgets/plugins/rss/index.rst
  doc/manual/en/config/widgets/plugins/speech/index.rst
  doc/manual/en/config/widgets/plugins/timeout/index.rst
  doc/manual/en/config/widgets/pushbutton/index.rst
  doc/manual/en/config/widgets/refresh/index.rst
  doc/manual/en/config/widgets/reload/index.rst
  doc/manual/en/config/widgets/rgb/index.rst
  doc/manual/en/config/widgets/text/index.rst
  doc/manual/en/config/widgets/trigger/index.rst
  doc/manual/en/config/widgets/urltrigger/index.rst
  doc/manual/en/config/widgets/video/index.rst
  doc/manual/en/config/widgets/web/index.rst
  doc/manual/en/config/widgets/wgplugininfo/index.rst
  source/class/cv/ui/structure/pure/Image.js
  source/class/cv/ui/structure/pure/ImageTrigger.js
  source/resource/visu_config.xsd
  utils/commands/doc.py
Labels: bug / bugfix, documentation

#815 Fix #814: Diagram plugin: tooltip errors
  source/class/cv/plugins/diagram/AbstractDiagram.js
  source/resource/designs/alaska/basic.css
  source/resource/designs/alaska_slim/basic.css
  source/resource/designs/discreet/basic.css
  source/resource/designs/discreet_sand/basic.css
  source/resource/designs/discreet_slim/basic.css
  source/resource/designs/metal/basic.css
  source/resource/designs/pitchblack/basic.css
  source/resource/designs/planet/basic.css
  source/resource/designs/pure/basic.css
Labels: bug / bugfix, designs, plugins

#816 Fix and enhance docu
  doc/manual/de/conf.py
  doc/manual/de/config/_static/editor.png
  doc/manual/de/config/_static/editor_node_right_click.png
  doc/manual/de/config/_static/editor_sort.png
  doc/manual/de/config/_static/manager.de.png
  doc/manual/de/config/editor.rst
  doc/manual/de/config/index.rst
  doc/manual/de/config/manager.rst
  doc/manual/de/config/xml-format.rst
  doc/manual/de/index.rst
  doc/manual/de/install/linux.rst
  doc/manual/de/install/nas.rst
  doc/manual/en/conf.py
  doc/manual/en/config/_static/editor.png
  doc/manual/en/config/_static/editor_node_right_click.png
  doc/manual/en/config/_static/editor_sort.png
  doc/manual/en/config/_static/manager.en.png
  doc/manual/en/config/editor.rst
  doc/manual/en/config/index.rst
  doc/manual/en/config/manager.rst
  doc/manual/en/config/xml-format.rst
  doc/manual/en/index.rst
  doc/manual/en/install/linux.rst
  doc/manual/en/install/nas.rst
  utils/docutils/directives/common.py
Labels: bug / bugfix, documentation, enhancement

#818 Fix more doc problems and be more verbose during generating
  doc/manual/_templates/de/plugin-template.rst
  doc/manual/_templates/en/plugin-template.rst
  doc/manual/_templates/en/widget-template.rst
  doc/manual/de/colab/index.rst
  doc/manual/de/config/hydraulik.rst
  doc/manual/de/config/widgets/plugins/colorchooser/index.rst
  doc/manual/de/config/widgets/plugins/diagram/index.rst
  doc/manual/de/config/widgets/plugins/gauge/index.rst
  doc/manual/de/config/widgets/plugins/speech/index.rst
  doc/manual/de/config/widgets/plugins/strftime/index.rst
  doc/manual/de/config/widgets/plugins/tr064/index.rst
  doc/manual/de/install/install-rrd.rst
  doc/manual/de/install/timberwolf.rst
  doc/manual/en/config/hydraulik.rst
  doc/manual/en/config/manager.rst
  doc/manual/en/config/mapping.rst
  doc/manual/en/config/widgets/audio/index.rst
  doc/manual/en/config/widgets/designtoggle/index.rst
  doc/manual/en/config/widgets/group/index.rst
  doc/manual/en/config/widgets/image/index.rst
  doc/manual/en/config/widgets/imagetrigger/index.rst
  doc/manual/en/config/widgets/include/index.rst
  doc/manual/en/config/widgets/info/index.rst
  doc/manual/en/config/widgets/infoaction/index.rst
  doc/manual/en/config/widgets/infotrigger/index.rst
  doc/manual/en/config/widgets/line/index.rst
  doc/manual/en/config/widgets/multitrigger/index.rst
  doc/manual/en/config/widgets/navbar/index.rst
  doc/manual/en/config/widgets/notificationcenterbadge/index.rst
  doc/manual/en/config/widgets/page/index.rst
  doc/manual/en/config/widgets/pagejump/index.rst
  doc/manual/en/config/widgets/plugins/diagram/index.rst
  doc/manual/en/config/widgets/plugins/gauge/index.rst
  doc/manual/en/config/widgets/plugins/link/index.rst
  doc/manual/en/config/widgets/plugins/openweathermap/index.rst
  doc/manual/en/config/widgets/plugins/powerspectrum/index.rst
  doc/manual/en/config/widgets/plugins/rss/index.rst
  doc/manual/en/config/widgets/plugins/speech/index.rst
  doc/manual/en/config/widgets/plugins/strftime/index.rst
  doc/manual/en/config/widgets/plugins/timeout/index.rst
  doc/manual/en/config/widgets/plugins/tr064/index.rst
  doc/manual/en/config/widgets/pushbutton/index.rst
  doc/manual/en/config/widgets/refresh/index.rst
  doc/manual/en/config/widgets/reload/index.rst
  doc/manual/en/config/widgets/rgb/index.rst
  doc/manual/en/config/widgets/slide/index.rst
  doc/manual/en/config/widgets/switch/index.rst
  doc/manual/en/config/widgets/text/index.rst
  doc/manual/en/config/widgets/toggle/index.rst
  doc/manual/en/config/widgets/trigger/index.rst
  doc/manual/en/config/widgets/urltrigger/index.rst
  doc/manual/en/config/widgets/video/index.rst
  doc/manual/en/config/widgets/web/index.rst
  doc/manual/en/config/widgets/wgplugininfo/index.rst
  doc/manual/en/install/docker.rst
  doc/manual/en/install/install-rrd.rst
  utils/commands/doc.py
Labels: bug / bugfix, documentation

#819 Enhance docu timberwolf influx
  doc/manual/de/install/_static/timberwolf_influx.png
  doc/manual/de/install/_static/timberwolf_influx_manager.png
  doc/manual/de/install/timberwolf.rst
  doc/manual/en/install/_static/timberwolf_influx.png
  doc/manual/en/install/_static/timberwolf_influx_manager.png
  doc/manual/en/install/timberwolf.rst
Labels: documentation, enhancement

#821 there is no this.error in static context
  source/class/cv/parser/WidgetParser.js
Labels: bug / bugfix, core

#823 use a debounced function to load diagram data after pan event
  source/class/cv/plugins/diagram/AbstractDiagram.js
Labels: bug / bugfix, plugins

#824 check must be called outside foreach to prevent multiple calls of don…
  source/class/cv/parser/MetaParser.js
Labels: bug / bugfix, core

#827 find message to delete via id not index
  source/class/cv/ui/MHandleMessage.js
  source/test/karma/ui/ToastManager-spec.js
Labels: bug / bugfix, core

#828 really fix tests
  source/class/cv/ui/MHandleMessage.js
  source/class/cv/ui/NotificationCenter.js
  source/test/karma/ui/NotificationCenter-spec.js
  source/test/karma/ui/ToastManager-spec.js
Labels: bug / bugfix, core

#829 add icon path hint for manager uploads
  doc/manual/de/config/xml-format.rst
  doc/manual/en/config/xml-format.rst
Labels: documentation, enhancement

#826 Fix notification docu
  doc/manual/de/config/notifications.rst
  doc/manual/en/config/notifications.rst
Labels: bug / bugfix, documentation

#833 Fix typo
  source/resource/config/hidden.php
Labels: bug / bugfix

#834 First try to build mulitarch Docker containers
  Dockerfile
  utils/docker/container_bashrc.sh
  utils/travis/docker_push.sh
Labels: docker

#831 Enhance tr064
  doc/manual/de/config/widgets/plugins/tr064/index.rst
  doc/manual/en/config/widgets/plugins/tr064/index.rst
  source/resource/plugins/tr064/proxy.php
  source/resource/plugins/tr064/soap.php
Labels: documentation, enhancement, plugins

#837 make slider send values during dragging again
  source/class/cv/ui/website/Slider.js
Labels: bug / bugfix, widgets

#841 allow state-notification children in any order
  source/resource/visu_config.xsd
Labels: bug / bugfix, core

#843 fix pagejumps without name
  source/class/cv/ui/structure/pure/PageJump.js
Labels: bug / bugfix, widgets

#842 Add web app docu and fix a bit of the rest
  doc/manual/de/config/editor.rst
  doc/manual/de/config/widgets/plugins/diagram/index.rst
  doc/manual/de/config/widgets/plugins/diagram_info/index.rst
  doc/manual/de/install/_static/app_android_browser.png
  doc/manual/de/install/_static/app_android_browser_menu.png
  doc/manual/de/install/_static/app_android_dialog1.png
  doc/manual/de/install/_static/app_android_dialog2.png
  doc/manual/de/install/_static/app_android_final.png
  doc/manual/de/install/_static/app_android_homescreen.png
  doc/manual/de/install/_static/app_ios_browser.png
  doc/manual/de/install/_static/app_ios_browser_menu.png
  doc/manual/de/install/_static/app_ios_dialog.png
  doc/manual/de/install/_static/app_ios_final.png
  doc/manual/de/install/_static/app_ios_homescreen.png
  doc/manual/de/install/_static/timberwolf_knx_port.png
  doc/manual/de/install/app.rst
  doc/manual/de/install/index.rst
  doc/manual/de/install/timberwolf.rst
  doc/manual/en/install/_static/app_android_browser.png
  doc/manual/en/install/_static/app_android_browser_menu.png
  doc/manual/en/install/_static/app_android_dialog1.png
  doc/manual/en/install/_static/app_android_dialog2.png
  doc/manual/en/install/_static/app_android_final.png
  doc/manual/en/install/_static/app_android_homescreen.png
  doc/manual/en/install/_static/app_ios_browser.png
  doc/manual/en/install/_static/app_ios_browser_menu.png
  doc/manual/en/install/_static/app_ios_dialog.png
  doc/manual/en/install/_static/app_ios_final.png
  doc/manual/en/install/_static/app_ios_homescreen.png
  doc/manual/en/install/_static/timberwolf_knx_port.png
  doc/manual/en/install/app.rst
  doc/manual/en/install/index.rst
  doc/manual/en/install/timberwolf.rst
  source/class/cv/plugins/tr064/CallList.js
  source/index.html
  source/manager.php
  source/manifest.json
  source/resource/icon/comet_webapp_icon_android_512.png
Labels: documentation, enhancement

#844 - add link docs (de) and link both languages
  doc/manual/de/config/widgets/index.rst
  doc/manual/de/config/widgets/plugins/link/index.rst
  doc/manual/en/config/widgets/index.rst
  source/class/cv/plugins/Link.js
  source/resource/visu_config.xsd
Labels: documentation, enhancement, plugins

#845 fix powerspectrum plugin
  source/class/cv/plugins/PowerSpectrum.js
Labels: bug / bugfix, plugins
