Repository CometVisu/CometVisu, pull requests merged in 2019-04, with the labels that each got.

#920 use "long" values when "short"-ones are not set
  source/class/cv/parser/widgets/InfoTrigger.js
  source/class/cv/ui/structure/pure/InfoTrigger.js
Labels: bug / bugfix, widgets

#921 - parse address in reload element
  source/class/cv/parser/widgets/Reload.js
  source/class/cv/ui/structure/pure/Reload.js
  source/test/karma/ui/structure/pure/Reload-spec.js
  source/test/karma/ui/structure/pure/Trigger-spec.js
Labels: bug / bugfix, widgets

#925 Make redirect point to correct path
  utils/docutils/directives/__init__.py
  utils/docutils/directives/cometvisu.py
Labels: bug / bugfix, build process, documentation

#928 Switch sitemap to https
  utils/config.ini
Labels: enhancement

#929 fix templates with multiple child nodes
  source/class/cv/parser/WidgetParser.js
Labels: bug / bugfix, core

#931 Add transformations to influxdb request.
  doc/manual/de/config/widgets/plugins/diagram/index.rst
  source/resource/plugins/diagram/influxfetch.php
  source/resource/visu_config.xsd
Labels: enhancement, plugins

#933 Change docu symlinks
  utils/commands/doc.py
  utils/config.ini
Labels: build process, documentation

#927 Add canonical_url to documentation
  doc/manual/de/conf.py
  doc/manual/en/conf.py
Labels: documentation, enhancement
