Repository CometVisu/CometVisu, pull requests merged in 2019-03, with the labels that each got.

#881 add filter to allow sentry.io XHR requests in mockup mode.
  source/class/cv/io/Mockup.js
Labels: bug / bugfix, core

#879 no undefined checks because the values might be null, fixes error whe…
  source/class/cv/ui/structure/pure/PageJump.js
Labels: bug / bugfix, widgets

#882 fix wrong overflow declaration (which broke the scrolling behaviour o…
  source/resource/designs/metal/basic.css
Labels: bug / bugfix, core

#883 delay backdrop validation when this.width === this.height === 0. Fixe…
  source/class/cv/ui/layout/ResizeHandler.js
Labels: bug / bugfix, core

#884 include inobounce script from https://github.com/lazd/iNoBounce to di…
  config.json
  source/resource/libs/COPYING
  source/resource/libs/inobounce.min.js
Labels: enhancement

#886 disable caching for schema and config files in text editor. Fixes pro…
  source/editor/text/index.html
Labels: bug / bugfix, editor

#891 Fix iPad scroll during turning
  source/class/cv/report/Record.js
Labels: bug / bugfix

#893 Optimize Influx data handling when not all dates are set
  source/class/cv/plugins/diagram/AbstractDiagram.js
Labels: enhancement, plugins

#896 Fix refresh behaviour
  source/class/cv/plugins/diagram/AbstractDiagram.js
  source/class/cv/plugins/diagram/Diagram.js
  source/class/cv/ui/common/Refresh.js
Labels: bug / bugfix, core, plugins

#849 allow icons in state notifications
  source/class/cv/core/notifications/Router.js
  source/class/cv/parser/MetaParser.js
  source/class/cv/ui/NotificationCenter.js
  source/resource/designs/designglobals.css
  source/resource/visu_config.xsd
Labels: core, enhancement

#887 add automatic branch detection for changelog task. Branch can also be…
  Gruntfile.js
Labels: build process, enhancement

#897 Show release info at Sentry.io
  source/index.html
Labels: enhancement

#901 fix template rendering (needs to be tested in safari/ios).
  source/class/cv/parser/MetaParser.js
  source/class/cv/parser/WidgetParser.js
Labels: bug / bugfix, core

#892 re-enable the forceReload URL parameter to add random strings as quer…
  config.json
  source/loader/loader.tmpl.js
Labels: build process, enhancement

#895 improve refresh stop/start handling when widget changes its visibilit…
  source/class/cv/plugins/diagram/Diagram.js
  source/class/cv/ui/common/Refresh.js
  source/test/karma/helper-spec.js
  source/test/karma/ui/structure/pure/Image-spec.js
Labels: enhancement, widgets

#906 also send the last value
  source/class/cv/ui/structure/pure/Slide.js
Labels: bug / bugfix, widgets

#907 remove duplicate fakeserver initialization and add some metadata to t…
  source/class/cv/io/Mockup.js
  source/resource/demo/media/demo_testmode_data.json
Labels: bug / bugfix, core

#908 fix openweathermap error onload and improve appearance in demo mode
  source/class/cv/plugins/OpenweatherMap.js
  source/resource/demo/media/testmode.css
Labels: bug / bugfix, plugins

#857 add option to send the long value before mouse release (direcly when …
  source/class/cv/parser/widgets/InfoTrigger.js
  source/class/cv/parser/widgets/Trigger.js
  source/class/cv/ui/common/HandleLongpress.js
  source/class/cv/ui/structure/AbstractWidget.js
  source/class/cv/ui/structure/pure/InfoTrigger.js
  source/resource/visu_config.xsd
  source/test/karma/ui/structure/pure/Infotrigger-spec.js
  source/test/karma/ui/structure/pure/Trigger-spec.js
Labels: enhancement, widgets

#909 fix lost formulas when using cache.
  source/class/cv/ConfigCache.js
  source/class/cv/parser/MetaParser.js
Labels: bug / bugfix, core

#912 Fix broken editor data provider with mapping
  source/editor/lib/DataProvider.js
Labels: bug / bugfix, editor

#913 Make clock plugin more robust
  source/class/cv/plugins/Clock.js
Labels: bug / bugfix, plugins

#914 Implement DPT17, DPT18 and DPT26
  source/class/cv/transforms/Knx.js
  source/test/karma/transform/TransformKnx-spec.js
Labels: enhancement

#915 Hint for the rail mounted ARM based smaller TimberWolf servers
  doc/manual/de/install/timberwolf.rst
  doc/manual/en/install/timberwolf.rst
Labels: documentation, enhancement
