Repository CometVisu/CometVisu, pull requests merged in 2020-03, with the labels that each got.

#991 Little improvement to prevent drag ghosting
  source/resource/designs/designglobals.css
Labels: enhancement

#992 only use the content of real text nodes, e.g. avoid using the textual…
  source/class/cv/parser/MetaParser.js
Labels: bug / bugfix

#993 add resource/ to paths
  doc/manual/de/install/openhab2.rst
  doc/manual/en/install/openhab2.rst
Labels: bug / bugfix, documentation

#995 make slider really readonly when there is no write address
  source/class/cv/ui/website/Slider.js
Labels: bug / bugfix, widgets

#997 upgrade multitrigger to support multiple buttons and make the linefee…
  doc/manual/de/config/widgets/multitrigger/index.rst
  doc/manual/en/config/widgets/multitrigger/index.rst
  source/class/cv/parser/widgets/MultiTrigger.js
  source/class/cv/ui/structure/pure/MultiTrigger.js
  source/library_version.inc.php
  source/resource/demo/visu_config_demo.xml
  source/resource/demo/visu_config_demo_testmode.xml
  source/resource/demo/visu_config_metal.xml
  source/resource/visu_config.xsd
  source/test/karma/ui/structure/pure/Multitrigger-spec.js
  source/upgrade/ConfigurationUpgrader.class.php
Labels: enhancement, widgets
