Repository CometVisu/CometVisu, pull requests merged in 2020-04, with the labels that each got.

#999 Feature: roundbar widget
  doc/manual/de/colab/index.rst
  doc/manual/de/config/url-params.rst
  doc/manual/de/config/widgets/index.rst
  doc/manual/de/config/widgets/info/index.rst
  doc/manual/de/config/widgets/roundbar/index.rst
  doc/manual/en/config/widgets/index.rst
  doc/manual/en/config/widgets/roundbar/index.rst
  source/class/cv/parser/widgets/Roundbar.js
  source/class/cv/ui/structure/pure/Info.js
  source/class/cv/ui/structure/pure/Roundbar.js
  source/resource/demo/visu_config_demo.xml
  source/resource/designs/designglobals.css
  source/resource/visu_config.xsd
  source/test/karma/ui/structure/pure/Roundbar-spec.js
  source/test/protractor/specs/demo-spec.js
  utils/docutils/directives/common.py
  utils/docutils/directives/elements_information.py
  utils/screenshots-spec.js
Labels: enhancement, widgets

#1000 Fix Docu: add posibility to use the CV as App on the TWS #998
  doc/manual/de/install/_static/timberwolf_app.png
  doc/manual/de/install/_static/timberwolf_installed_app.png
  doc/manual/de/install/timberwolf.rst
  doc/manual/en/install/_static/timberwolf_app.png
  doc/manual/en/install/_static/timberwolf_installed_app.png
  doc/manual/en/install/timberwolf.rst
Labels: documentation

#1002 escape linefeeds in json string to prevent parser exceptions
  client/source/class/cv/io/parser/Json.js
  client/source/class/cv/io/transport/Sse.js
Labels: bug / bugfix, client

#1008 add possibility to override the compilers output path + compiler update
  DEVELOPMENT.md
  compile.json
  utils/compile/AbstractCompileHandler.js
  utils/compile/LibraryApi.js
  utils/compile/cv/CompileHandler.js
Labels: core, enhancement

#1009 Fix rest api
  DEVELOPMENT.md
  source/class/cv/Application.js
  source/class/cv/TemplateEngine.js
  source/class/cv/io/rest/Client.js
  source/class/cv/ui/manager/Main.js
  source/class/cv/ui/manager/control/FileHandlerRegistry.js
  source/class/cv/ui/manager/editor/Config.js
  source/class/cv/ui/manager/editor/Source.js
  source/class/cv/ui/manager/editor/Xml.js
  source/class/cv/ui/manager/model/FileItem.js
  source/editor/lib/Schema.js
  source/resource/config/hidden.php
  source/rest/manager/src/Api/ConfigApi.php
  source/rest/openapi.yaml
  source/test/karma/helper-spec.js
  utils/compile/cv/CompileHandler.js
Labels: bug / bugfix, core

#1010 Fix the demo page
  source/class/cv/Config.js
  source/class/cv/io/Mockup.js
Labels: bug / bugfix
