Repository CometVisu/CometVisu, pull requests merged in 2020-01, with the labels that each got.

#986 fix label overriding by diagram title => needs to generate the
  source/class/cv/plugins/diagram/AbstractDiagram.js
Labels: bug / bugfix, plugins

#984 Client robustnes against temporary glitches
  client/source/class/cv/io/Client.js
  client/source/class/cv/io/transport/LongPolling.js
  config.json
Labels: client, core

#987 prevent from saving invalid file and loosing all its content
  source/editor/bin/save_config.php
Labels: bug / bugfix, editor

#989 make sure that we talk to the same backend as the main client
  source/resource/demo/media/demo_2d_backdrop_red_pot.js
Labels: bug / bugfix
