Repository CometVisu/CometVisu, pull requests merged in 2020-05, with the labels that each got.

#1014 enable Sentry sourcemaps
  .travis.yml
  client/compile.js
  package-lock.json
  package.json
  source/boot/index.html
  source/class/cv/Application.js
  source/resource/sentry/bundle.js
  source/resource/sentry/bundle.js.map
  source/resource/sentry/bundle.min.js
  source/test/karma/helper-spec.js
  source/test/karma/karma.conf.js
  source/test/karma/ui/structure/pure/Imagetrigger-spec.js
  source/test/karma/ui/structure/pure/Roundbar-spec.js
  utils/compile/LibraryApi.js
  utils/compile/client/BuildTarget.js
  utils/compile/client/CompileHandler.js
  utils/compile/cv/CompileHandler.js
Labels: bug / bugfix, enhancement

#1016 * add branch and build data as tag to sentry
  .travis.yml
  client/source/class/cv/io/Client.js
  source/class/cv/Config.js
  source/class/cv/TemplateEngine.js
  source/class/cv/io/Mockup.js
  utils/compile/AbstractCompileHandler.js
  utils/compile/LibraryApi.js
  utils/travis/deploy.sh
  utils/update_version.py
Labels: core, enhancement

#1017 fix client release builds and bintray deployment
  Gruntfile.js
  utils/travis/bintray-deploy.json
Labels: bug / bugfix, core

#1018 do not show client connection error when the cometvisu is in the back…
  source/class/cv/Application.js
  source/class/cv/TemplateEngine.js
  utils/compile/cv/CompileHandler.js
Labels: core, enhancement

#1019 Validate hidden config
  package-lock.json
  package.json
  source/class/cv/ui/manager/editor/Config.js
  source/class/cv/ui/manager/editor/Source.js
  source/class/cv/ui/manager/model/FileItem.js
  source/resource/hidden-schema.json
  source/rest/manager/src/Api/ConfigApi.php
  utils/compile/cv/CompileHandler.js
  utils/travis/deploy.sh
Labels: bug / bugfix, core

#1021 Fix slider
  source/class/cv/Transform.js
  source/class/cv/transforms/Knx.js
  source/class/cv/ui/common/Operate.js
  source/class/cv/ui/structure/pure/Roundbar.js
  source/class/cv/ui/structure/pure/Slide.js
  source/class/cv/ui/website/Slider.js
  source/class/cv/util/LimitedRateUpdateAnimator.js
  source/resource/visu_config.xsd
  source/test/karma/ui/structure/pure/Infotrigger-spec.js
  source/test/karma/ui/structure/pure/Multitrigger-spec.js
  source/test/karma/ui/structure/pure/Slide-spec.js
  source/test/karma/ui/structure/pure/Trigger-spec.js
  source/test/protractor/specs/demo-spec.js
Labels: bug / bugfix, core, widgets

#1022 make sure that resource/config content has 777 permissions
  package-lock.json
  package.json
  utils/compile/cv/CompileHandler.js
Labels: build process, enhancement

#1023 Minor fixes
  source/class/cv/plugins/tr064/CallList.js
  source/manager.php
Labels: bug / bugfix

#1027 Revert "escape linefeeds in json string to prevent parser exceptions"
  client/source/class/cv/io/parser/Json.js
  client/source/class/cv/io/transport/Sse.js
Labels: bug / bugfix

#1025 replace links in configs
  source/class/cv/Application.js
  source/class/cv/data/FileWorker.js
  source/class/cv/parser/MetaParser.js
  source/class/cv/ui/manager/Main.js
  source/class/cv/ui/manager/editor/Source.js
  source/class/cv/ui/manager/editor/Worker.js
  source/resource/config/.templates/visu_config.xml
  source/resource/config/visu_config.xml
  source/resource/demo/visu_config_demo.xml
  source/resource/demo/visu_config_demo_flat.xml
  source/resource/demo/visu_config_demorss.xml
  source/resource/demo/visu_config_empty.xml
  source/resource/demo/visu_config_responsive.xml
  source/resource/designs/designglobals.css
  source/resource/manager/worker.js
Labels: core
