Repository CometVisu/CometVisu, pull requests merged in 2021-04, with the labels that each got.

#1058 check if an element has been found to apply the styling and add a val…
  source/class/cv/ui/common/HasStyling.js
  source/class/cv/ui/structure/pure/Slide.js
Labels: bug / bugfix, widgets

#1060 Fix slider range
  source/class/cv/ui/structure/pure/Slide.js
Labels: bug / bugfix

#1064 use indexedDB instead of localStorage
  source/class/cv/Application.js
  source/class/cv/ConfigCache.js
  source/class/cv/parser/MetaParser.js
  source/class/cv/report/Record.js
  source/class/cv/report/Replay.js
Labels: core, enhancement

#1065 Change regex for incapable safari.
  source/class/cv/transforms/Mqtt.js
Labels: bug / bugfix

#1066 Cleanup whats not working anyways
  compile.json
  doc/manual/de/config/widgets/index.rst
  doc/manual/en/config/widgets/index.rst
  source/class/cv/plugins/CalendarList.js
  source/class/cv/plugins/OpenweatherMap.js
  source/class/cv/plugins/RssLog.js
  source/resource/plugins/calendarlist/calendarlist.php
  source/resource/plugins/openweathermap/font/weathericons-regular-webfont.svg
  source/resource/plugins/openweathermap/owm_weathericon.css
  utils/compile/cv/CompileHandler.js
Labels: bug / bugfix, build process, plugins

#1068 obey mobile state when restoring cache
  source/class/cv/ConfigCache.js
Labels: bug / bugfix, core
