Repository CometVisu/CometVisu, pull requests merged in 2022-05, with the labels that each got.

#1275 Fix navbar on subpages where it is not inherited anymore.
  source/class/cv/ui/PagePartsHandler.js
Labels: bug / bugfix, needs-to-be-cherry-picked

#1277 only skip if the navbar has a scope set
  source/class/cv/ui/PagePartsHandler.js
Labels: bug / bugfix, core, needs-to-be-cherry-picked

#1278 set navbars to inactive before bailing out
  source/class/cv/ui/PagePartsHandler.js
Labels: bug / bugfix, core, needs-to-be-cherry-picked

#1279 refresh calllist when domRead signal is fired and not when the
  package-lock.json
  package.json
  source/class/cv/plugins/tr064/CallList.js
  source/test/karma/Application-spec.js
  source/test/karma/karma.conf.js
  source/test/karma/plugins/tr064-spec.js
Labels: bug / bugfix, plugins, needs-to-be-cherry-picked
