Repository CometVisu/CometVisu, pull requests merged in 2022-04, with the labels that each got.

#1265 Use more standard mechanism to fix mobile firefox.
  source/class/cv/ui/structure/pure/NavBar.js
Labels: bug / bugfix, needs-to-be-cherry-picked

#1267 replace some special characters in attribute values
  source/class/cv/ui/manager/model/XmlElement.js
Labels: bug / bugfix, editor, needs-to-be-cherry-picked

#1269 Enhance english documentation of clock plugin.
  doc/manual/de/config/widgets/plugins/clock/index.rst
  doc/manual/en/config/widgets/plugins/clock/index.rst
  source/class/cv/transforms/Mqtt.js
Labels: enhancement, documentation, needs-to-be-cherry-picked

#1270 update file content after save
  source/class/cv/ui/manager/editor/AbstractEditor.js
Labels: bug / bugfix, editor, needs-to-be-cherry-picked

#1273 Update documentation according to user feedback
  doc/manual/de/config/xml-format.rst
  doc/manual/de/install/allgemein.rst
  doc/manual/en/config/xml-format.rst
  doc/manual/en/install/generic.rst
Labels: bug / bugfix, documentation, needs-to-be-cherry-picked
