Repository CometVisu/CometVisu, pull requests merged in 2022-02, with the labels that each got.

#1185 do not use getElementById, for some reason it does not work when the …
  source/class/cv/plugins/Clock.js
Labels: bug / bugfix, plugins, needs-to-be-cherry-picked

#1187 Fix cache problems
  source/class/cv/Application.js
  source/class/cv/plugins/Clock.js
  source/class/cv/ui/PagePartsHandler.js
Labels: bug / bugfix, needs-to-be-cherry-picked

#1191 fix mobile safari scrolling in top navbar
  Manifest.json
  source/class/cv/ui/structure/pure/NavBar.js
  source/resource/libs/inobounce.min.js
Labels: bug / bugfix, needs-to-be-cherry-picked

#1190 Fix dataproviders for icons and addresses
  source/class/cv/Application.js
  source/class/cv/IconHandler.js
  source/class/cv/io/openhab/Rest.js
  source/class/cv/parser/MetaParser.js
  source/class/cv/ui/manager/editor/completion/Config.js
  source/class/cv/ui/manager/editor/data/Provider.js
  source/class/cv/ui/manager/form/ElementForm.js
  source/class/cv/ui/manager/form/ListItem.js
Labels: bug / bugfix, editor, needs-to-be-cherry-picked

#1194 Expose Timberwolf server info to Sentry
  source/class/cv/Application.js
  source/rest/manager/environment.php
Labels: enhancement, needs-to-be-cherry-picked

#1202 Fix MQTT client
  source/class/cv/io/mqtt/Client.js
Labels: bug / bugfix, client, core, needs-to-be-cherry-picked

#1203 Handle non existing icon image paths gacefully.
  source/class/cv/util/IconTools.js
Labels: enhancement, needs-to-be-cherry-picked

#1195 Xml code formatting
  source/class/cv/ui/manager/basic/Image.js
  source/class/cv/ui/manager/editor/Tree.js
  source/class/cv/ui/manager/model/XmlElement.js
Labels: bug / bugfix, editor, needs-to-be-cherry-picked

#1207 Fix folder key navigation
  source/class/cv/Application.js
  source/class/cv/ui/manager/viewer/Folder.js
Labels: bug / bugfix, manager, needs-to-be-cherry-picked

#1209 fix PageJump align in navbars
  source/class/cv/ui/structure/pure/PageJump.js
  source/resource/designs/metal/basic.css
Labels: bug / bugfix, widgets, needs-to-be-cherry-picked

#1210 Switch to Docker buildx and multiarch
  utils/ci/docker_push.sh
Labels: build process

#1216 Fix clock plugin.
  source/class/cv/TemplateEngine.js
  source/class/cv/plugins/Clock.js
  source/class/cv/ui/layout/ResizeHandler.js
Labels: bug / bugfix, core, plugins, needs-to-be-cherry-picked

#1217 Fix warnings from PHP
  source/check_config.php
  source/editor/dataproviders/list_all_influxdbs.php
  source/editor/dataproviders/list_relevant_influxdb_fields.php
  source/editor/dataproviders/list_relevant_influxdb_tags.php
  source/resource/plugins/upnpcontroller/mute.php
  source/resource/plugins/upnpcontroller/playlists.php
  source/resource/plugins/upnpcontroller/status.php
  source/resource/plugins/upnpcontroller/upnpctrl_util.php
  source/resource/plugins/upnpcontroller/volume.php
  source/rest/manager/environment.php
  source/upgrade/index.php
Labels: bug / bugfix, needs-to-be-cherry-picked

#1215 update monaco editor to current
  package-lock.json
  package.json
  source/class/cv/ui/manager/editor/Source.js
  source/class/cv/ui/manager/editor/completion/Config.js
Labels: bug / bugfix, editor, needs-to-be-cherry-picked

#1221 do not apply a function as css class, introduce a new type property f…
  source/class/cv/Application.js
  source/class/cv/core/notifications/actions/Link.js
Labels: bug / bugfix, core, needs-to-be-cherry-picked

#1222 Reimplement forced image reload.
  source/class/cv/ui/common/Refresh.js
Labels: bug / bugfix, needs-to-be-cherry-picked

#1225 update sentry libraries
  package-lock.json
  package.json
  source/resource/sentry/bundle.min.js
  source/resource/sentry/bundle.min.js.map
  source/resource/sentry/bundle.tracing.min.js
  source/resource/sentry/bundle.tracing.min.js.map
Labels: needs-to-be-cherry-picked

#1227 Handle 404 config-error state better:
  source/class/cv/Application.js
  source/class/cv/Config.js
  source/class/cv/ui/manager/Main.js
  source/class/cv/util/ConfigLoader.js
  source/resource/designs/designglobals.css
  source/translation/de.po
  source/translation/en.po
Labels: bug / bugfix, manager, needs-to-be-cherry-picked

#1228 replace jquery rssparser that used the google api that is not availab…
  compile.json
  package.json
  source/class/cv/plugins/Rss.js
  source/resource/designs/metal/basic.css
  source/resource/plugins/rss/dep/zrssfeed/jquery.vticker.js
  source/resource/plugins/rss/dep/zrssfeed/jquery.zrssfeed.css
  source/resource/plugins/rss/dep/zrssfeed/jquery.zrssfeed.js
  source/resource/plugins/rss/dep/zrssfeed/jquery.zrssfeed.min.js
  source/resource/plugins/rss/rss-parser.min.js
Labels: bug / bugfix, plugins, needs-to-be-cherry-picked

#1230 Doc + Data-provider fixes
  doc/manual/de/config/mapping.rst
  doc/manual/de/config/widgets/group/index.rst
  doc/manual/de/config/widgets/index.rst
  doc/manual/de/config/widgets/infoaction/index.rst
  doc/manual/de/config/widgets/line/index.rst
  doc/manual/de/config/widgets/multitrigger/index.rst
  doc/manual/de/config/widgets/navbar/index.rst
  doc/manual/de/config/widgets/plugins/link/index.rst
  doc/manual/de/config/widgets/plugins/openweathermap/index.rst
  doc/manual/de/config/widgets/plugins/speech/index.rst
  doc/manual/de/config/widgets/reload/index.rst
  doc/manual/de/config/widgets/rgb/index.rst
  doc/manual/de/tutorial/rpi_prequesites.rst
  doc/manual/en/colab/doc/directives.rst
  doc/manual/en/config/widgets/audio/index.rst
  doc/manual/en/config/widgets/break/index.rst
  doc/manual/en/config/widgets/colorchooser/index.rst
  doc/manual/en/config/widgets/designtoggle/index.rst
  doc/manual/en/config/widgets/index.rst
  doc/manual/en/config/widgets/infoaction/index.rst
  doc/manual/en/config/widgets/line/index.rst
  doc/manual/en/config/widgets/navbar/index.rst
  doc/manual/en/config/widgets/plugins/openweathermap/index.rst
  doc/manual/en/config/widgets/reload/index.rst
  source/class/cv/ui/manager/editor/data/Provider.js
Labels: bug / bugfix, documentation, needs-to-be-cherry-picked
