Repository CometVisu/CometVisu, pull requests merged in 2022-01, with the labels that each got.

#1093 Make doc tool more unicode compatible to prevent it from failing
  utils/commands/doc.py
Labels: bug / bugfix, build process

#1095 Show CV log messages when a screenshot build fails
  utils/screenshots-spec.js
Labels: bug / bugfix, build process

#1096 Update colorchooser to professional ColorChooser
  .jshintrc
  compile.json
  doc/manual/de/colab/doc/directives.rst
  doc/manual/de/config/examples/_static/visu_config_metal_haegar80.xml
  doc/manual/de/config/examples/_static/visu_config_metal_merlin123.xml
  doc/manual/de/config/examples/_static/visu_config_metal_swiss.xml
  doc/manual/de/config/examples/haegar80.rst
  doc/manual/de/config/examples/merlin123.rst
  doc/manual/de/config/examples/swiss.rst
  doc/manual/de/config/widgets/colorchooser/index.rst
  doc/manual/de/config/widgets/index.rst
  doc/manual/de/config/widgets/plugins/colorchooser/index.rst
  doc/manual/de/config/xml-format.rst
  doc/manual/en/colab/doc/directives.rst
  doc/manual/en/config/examples/_static/visu_config_metal_haegar80.xml
  doc/manual/en/config/examples/_static/visu_config_metal_merlin123.xml
  doc/manual/en/config/examples/_static/visu_config_metal_swiss.xml
  doc/manual/en/config/examples/haegar80.rst
  doc/manual/en/config/examples/merlin123.rst
  doc/manual/en/config/examples/swiss.rst
  doc/manual/en/config/widgets/colorchooser/index.rst
  doc/manual/en/config/widgets/index.rst
  doc/manual/en/config/xml-format.rst
  package.json
  source/class/cv/Transform.js
  source/class/cv/parser/WidgetParser.js
  source/class/cv/parser/widgets/ColorChooser.js
  source/class/cv/plugins/ColorChooser.js
  source/class/cv/transforms/Knx.js
  source/class/cv/ui/structure/pure/ColorChooser.js
  source/class/cv/util/Color.js
  source/class/cv/util/Function.js
  source/class/cv/util/LimitedRateUpdateAnimator.js
  source/editor/lib/DocumentationMapping.json
  source/resource/demo/visu_config_2d3d.xml
  source/resource/demo/visu_config_demo.xml
  source/resource/demo/visu_config_demo_flat.xml
  source/resource/demo/visu_config_demo_testmode.xml
  source/resource/designs/designglobals.css
  source/resource/plugins/colorchooser/farbtastic/CHANGELOG.html
  source/resource/plugins/colorchooser/farbtastic/LICENSE.txt
  source/resource/plugins/colorchooser/farbtastic/README.html
  source/resource/plugins/colorchooser/farbtastic/README.md
  source/resource/plugins/colorchooser/farbtastic/demo1.html
  source/resource/plugins/colorchooser/farbtastic/demo2.html
  source/resource/plugins/colorchooser/farbtastic/farbtastic.css
  source/resource/plugins/colorchooser/farbtastic/farbtastic.js
  source/resource/plugins/colorchooser/farbtastic/marker.png
  source/resource/plugins/colorchooser/farbtastic/mask.png
  source/resource/plugins/colorchooser/farbtastic/wheel.png
  source/resource/visu_config.xsd
  source/test/fixtures/karma/meta-config.xml
  source/test/karma/plugins/ColorChooser-spec.js
  source/test/karma/transform/TransformKnx-spec.js
  source/test/karma/ui/structure/pure/ColorChooser-spec.js
  source/test/karma/util/Color-spec.js
  source/test/karma/xml/parser/Meta-spec.js
Labels: enhancement, plugins, widgets

#1098 Fix errors using the MQTT backend
  source/class/cv/io/mqtt/Client.js
  source/resource/visu_config.xsd
Labels: bug / bugfix, client

#1097 Documentation enhancement: describe address
  doc/manual/de/config/address.rst
  doc/manual/de/config/index.rst
  doc/manual/en/config/address.rst
  doc/manual/en/config/index.rst
  locale/de/LC_MESSAGES/messages.mo
  locale/de/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.mo
  locale/en/LC_MESSAGES/messages.po
  locale/messages.pot
  source/class/cv/transforms/Knx.js
  source/resource/visu_config.xsd
  source/test/karma/transform/TransformKnx-spec.js
  utils/docutils/directives/backend_transform.py
  utils/docutils/directives/cometvisu.py
  utils/docutils/directives/helper/backend_transform_parse.js
Labels: documentation

#1102 allow multiple custom classes
  source/class/cv/parser/WidgetParser.js
Labels: bug / bugfix, core

#1101 pages need no clearfix
  source/class/cv/Application.js
Labels: bug / bugfix, core

#1104 Update change log
  ChangeLog
Labels: documentation

#1103 enable caching via service worker
  doc/manual/de/config/url-params.rst
  source/ServiceWorker.js
  source/class/cv/Application.js
  source/class/cv/Config.js
  utils/compile/AbstractCompileHandler.js
  utils/compile/cv/CompileHandler.js
Labels: enhancement, core

#1111 Fix version update
  Gruntfile.js
  source/rest/manager/composer.json
  source/rest/manager/composer.lock
  utils/compile/cv/CompileHandler.js
Labels: bug / bugfix, build process, needs-to-be-cherry-picked

#1112 Metal design fixes
  source/resource/designs/metal/basic.css
  source/resource/designs/metal/mobile.css
Labels: bug / bugfix, designs, needs-to-be-cherry-picked

#1110 do not use page type in navbars because the content
  source/class/cv/parser/widgets/NavBar.js
Labels: bug / bugfix, needs-to-be-cherry-picked

#1115 update sentry library, change sourcemap upload call
  .github/workflows/main.yml
  package-lock.json
  package.json
  source/boot/index.html
  source/class/cv/Application.js
  source/resource/sentry/bundle.js
  source/resource/sentry/bundle.js.map
  source/resource/sentry/bundle.min.js
  source/resource/sentry/bundle.min.js.map
Labels: bug / bugfix, core, build process, needs-to-be-cherry-picked

#1121 Fix error messages and plugin robustness
  package-lock.json
  package.json
  source/class/cv/Application.js
  source/class/cv/plugins/diagram/AbstractDiagram.js
  source/class/cv/plugins/openhab/Settings.js
Labels: bug / bugfix, needs-to-be-cherry-picked

#1122 remove backend code
  source/resource/config/visu_config.xml
Labels: bug / bugfix, needs-to-be-cherry-picked

#1123 Reduce PHP warnings, fixes #1119
  source/resource/plugins/rsslog/rsslog.php
Labels: bug / bugfix, widgets, needs-to-be-cherry-picked

#1124 Make slider handle stay on right position when not in view.
  source/class/cv/ui/structure/pure/Slide.js
Labels: widgets, needs-to-be-cherry-picked

#1126 do not access serviceworker when its not available
  source/class/cv/Application.js
Labels: bug / bugfix, core, needs-to-be-cherry-picked

#1125 Fix manager errors found in rc1
  source/class/cv/Application.js
  source/class/cv/ui/manager/editor/Config.js
  source/class/cv/ui/manager/editor/Diff.js
  source/class/cv/ui/manager/editor/Source.js
  source/class/cv/ui/manager/form/FileTabItem.js
  source/class/cv/ui/manager/form/OptionListItem.js
  source/class/cv/ui/manager/form/SectionListItem.js
  source/class/cv/ui/manager/snackbar/Message.js
  source/translation/de.po
  source/translation/en.po
Labels: bug / bugfix, editor, manager, needs-to-be-cherry-picked

#1132 Fix ServiceWorker by using whitelist for caching
  source/ServiceWorker.js
Labels: bug / bugfix, core

#1145 Fix collection for manager
  Gruntfile.js
  source/class/cv/Application.js
  source/class/cv/io/rest/Client.js
  source/class/cv/parser/MetaParser.js
  source/class/cv/ui/manager/Main.js
  source/class/cv/ui/manager/contextmenu/FileItem.js
  source/resource/config/.templates/visu_config.xml
  source/resource/config/visu_config.xml
  source/resource/demo/visu_config_2d3d.xml
  source/resource/demo/visu_config_demo.xml
  source/resource/demo/visu_config_demo_flat.xml
  source/resource/demo/visu_config_demorss.xml
  source/resource/demo/visu_config_empty.xml
  source/resource/demo/visu_config_gauge.xml
  source/resource/demo/visu_config_metal.xml
  source/resource/demo/visu_config_responsive.xml
  source/resource/manager/worker.js
  source/rest/manager/src/Api/FsApi.php
Labels: bug / bugfix, editor, manager

#1146 make sure that there is no reload duplicate
  source/class/cv/core/notifications/actions/Link.js
Labels: bug / bugfix, core

#1137 Make PHP more robust
  doc/manual/de/config/widgets/plugins/diagram/index.rst
  doc/manual/de/config/widgets/plugins/tr064/index.rst
  doc/manual/en/config/widgets/plugins/tr064/index.rst
  source/class/cv/plugins/diagram/AbstractDiagram.js
  source/class/cv/plugins/tr064/CallList.js
  source/resource/plugins/diagram/influxfetch.php
  source/resource/plugins/tr064/proxy.php
  source/resource/plugins/tr064/soap.php
  source/translation/de.po
  source/translation/en.po
Labels: plugins, needs-to-be-cherry-picked

#1150 Improve error reporting
  bin/replay.py
  package-lock.json
  package.json
  source/boot/index.html
  source/class/cv/report/Record.js
  source/class/cv/report/Replay.js
  source/resource/libs/EventRecorder.js
Labels: bug / bugfix, editor, core, needs-to-be-cherry-picked

#1152 fix plugin caching problems:
  source/class/cv/Application.js
  source/class/cv/Config.js
  source/class/cv/TemplateEngine.js
Labels: bug / bugfix, plugins, needs-to-be-cherry-picked

#1153 let side navbars scroll when there is not enough height
  source/resource/designs/metal/basic.css
Labels: bug / bugfix, designs, needs-to-be-cherry-picked

#1154 change link color improve visibility
  source/resource/designs/designglobals.css
Labels: enhancement, designs, needs-to-be-cherry-picked

#1159 fix several errors in the reporting:
  bin/replay.py
  source/class/cv/Application.js
  source/class/cv/report/Record.js
  source/class/cv/report/Replay.js
  source/class/cv/report/utils/FakeServer.js
  source/class/cv/report/utils/MXhrHook.js
  source/class/cv/ui/manager/editor/Source.js
  source/class/cv/util/IconTools.js
  source/replay.html
Labels: bug / bugfix, core, needs-to-be-cherry-picked

#1160 set widget to selectable when the file is writeable to fix source code
  source/class/cv/ui/manager/editor/Source.js
Labels: bug / bugfix, editor, needs-to-be-cherry-picked

#1161 Fix diagram plugin in correlation with cache
  source/class/cv/plugins/diagram/AbstractDiagram.js
  source/class/cv/ui/PageHandler.js
  source/class/cv/ui/structure/pure/InfoTrigger.js
  source/resource/plugins/diagram/influxfetch.php
Labels: bug / bugfix, needs-to-be-cherry-picked

#1162 Make external cause of CGI-BIN restart less dramatic
  client/source/class/cv/io/transport/LongPolling.js
Labels: client, core, needs-to-be-cherry-picked

#1166 fix metal design & confirm dialogs in manager
  Gruntfile.js
  source/class/cv/theme/dark/Icon.js
  source/class/cv/ui/manager/Main.js
  source/class/cv/ui/manager/Start.js
  source/class/cv/ui/manager/editor/AbstractEditor.js
  source/class/cv/ui/manager/editor/completion/CometVisu.js
  source/class/cv/ui/manager/model/OpenFile.js
  source/resource/demo/templates/Plugin.js
  source/resource/demo/templates/visu_config.xml
  source/resource/designs/metal/basic.css
  source/resource/designs/metal/mobile.css
  source/translation/de.po
  source/translation/en.po
  utils/compile/cv/CompileHandler.js
Labels: bug / bugfix, needs-to-be-cherry-picked

#1165 Remove wiregate from the documentation as it's too old
  doc/manual/de/config/examples/swiss.rst
  doc/manual/de/faq.rst
  doc/manual/de/index.rst
  doc/manual/de/install/allgemein.rst
  doc/manual/de/install/index.rst
  doc/manual/de/install/update-other.rst
  doc/manual/de/install/update-wiregate.rst
  doc/manual/de/install/wiregate.rst
  doc/manual/en/config/examples/swiss.rst
  doc/manual/en/faq.rst
  doc/manual/en/index.rst
  doc/manual/en/install/generic.rst
  doc/manual/en/install/index.rst
  doc/manual/en/install/update-wiregate.rst
  doc/manual/en/install/wiregate.rst
  source/rest/manager/composer.json
  source/rest/manager/environment.php
Labels: documentation, needs-to-be-cherry-picked

#1167 Infoposition doesn't need to be expert level.
  source/resource/visu_config.xsd
Labels: enhancement, needs-to-be-cherry-picked

#1169 Manager fixes
  source/class/cv/ui/manager/editor/Tree.js
  source/class/cv/ui/manager/form/ElementForm.js
  source/class/cv/ui/manager/model/XmlElement.js
  source/rest/manager/src/FileHandler.php
  source/rest/manager/src/config.php
  source/rest/manager/src/influx.inc.php
Labels: bug / bugfix, editor, needs-to-be-cherry-picked

#1170 read environment.php from backend and disable manager when PHP versio…
  source/class/cv/Application.js
  source/rest/manager/environment.php
  source/translation/de.po
  source/translation/en.po
Labels: enhancement, manager, needs-to-be-cherry-picked

#1171 fix styling and fake data in testmode demo
  source/class/cv/io/Mockup.js
  source/resource/demo/media/demo_testmode_data.json
  source/resource/demo/media/testmode.css
  source/resource/demo/visu_config_demo_testmode.xml
Labels: bug / bugfix, needs-to-be-cherry-picked

#1173 update documentation mapping for development version
  .github/workflows/build_release.yml
  .github/workflows/main.yml
  source/class/cv/ui/manager/model/schema/DocumentationMapping.js
  utils/docutils/directives/cometvisu.py
Labels: editor, documentation, needs-to-be-cherry-picked

#1178 disable backend environment check in demo mode
  source/class/cv/Application.js
Labels: bug / bugfix, needs-to-be-cherry-picked

#1181 use browser history to close/show manager
  source/class/cv/Application.js
  source/class/cv/TemplateEngine.js
Labels: bug / bugfix, manager, needs-to-be-cherry-picked

#1179 Fix image updates
  source/class/cv/ui/common/Refresh.js
Labels: bug / bugfix, widgets, needs-to-be-cherry-picked
