Repository CometVisu/CometVisu, pull requests merged in 2022-03, with the labels that each got.

#1236 Fix icon display of cached config when mapping ranges are used.
  source/class/cv/ConfigCache.js
  source/class/cv/ui/common/Update.js
Labels: bug / bugfix, core, needs-to-be-cherry-picked

#1233 MQTT refinement
  Manifest.json
  client/source/class/cv/io/Client.js
  doc/manual/de/config/address.rst
  doc/manual/de/config/url-params.rst
  doc/manual/de/config/xml-format.rst
  doc/manual/de/devel/index.rst
  doc/manual/de/install/allgemein.rst
  doc/manual/de/install/openhab.rst
  doc/manual/en/config/url-params.rst
  doc/manual/en/config/xml-format.rst
  doc/manual/en/devel/index.rst
  doc/manual/en/install/docker_openhab.rst
  doc/manual/en/install/generic.rst
  doc/manual/en/install/openhab.rst
  locale/de/LC_MESSAGES/messages.mo
  locale/de/LC_MESSAGES/messages.po
  locale/messages.pot
  source/check_config.php
  source/class/cv/Application.js
  source/class/cv/Config.js
  source/class/cv/TemplateEngine.js
  source/class/cv/Transform.js
  source/class/cv/core/notifications/Router.js
  source/class/cv/io/mqtt/Client.js
  source/class/cv/parser/WidgetParser.js
  source/class/cv/plugins/Clock.js
  source/class/cv/plugins/PowerSpectrum.js
  source/class/cv/plugins/RssLog.js
  source/class/cv/transforms/Mqtt.js
  source/class/cv/ui/common/BasicUpdate.js
  source/class/cv/ui/common/Operate.js
  source/class/cv/ui/structure/pure/ColorChooser.js
  source/class/cv/ui/structure/pure/Page.js
  source/class/cv/ui/structure/pure/Rgb.js
  source/class/cv/ui/structure/pure/Roundbar.js
  source/class/cv/ui/structure/pure/Slide.js
  source/class/cv/ui/structure/pure/Web.js
  source/class/cv/util/ConfigLoader.js
  source/resource/demo/media/demo_2d_backdrop_red_pot.js
  source/resource/libs/paho-mqtt.js
  source/resource/visu_config.xsd
  source/test/karma/transform/Default-spec.js
  source/test/karma/transform/OpenHab-spec.js
  source/test/karma/transform/TransformKnx-spec.js
  source/test/karma/transform/TransformMqtt-spec.js
  source/test/karma/ui/structure/pure/Web-spec.js
  source/translation/de.po
  source/translation/en.po
  utils/docutils/directives/backend_transform.py
  utils/docutils/directives/helper/backend_transform_parse.js
Labels: bug / bugfix, enhancement, client, core, plugins, documentation, docker, needs-to-be-cherry-picked, sentry-available

#1237 handle cases when indexedb cannot be opened
  source/class/cv/ConfigCache.js
Labels: bug / bugfix, core, needs-to-be-cherry-picked

#1239 Make clock plugin more robust during startup.
  source/class/cv/plugins/Clock.js
Labels: bug / bugfix, plugins, needs-to-be-cherry-picked

#1241 Fix clock plugin transform error
  source/class/cv/plugins/Clock.js
Labels: bug / bugfix, designs, needs-to-be-cherry-picked

#1243 Fix MQTT retain and QoS
  source/class/cv/parser/WidgetParser.js
Labels: bug / bugfix, core, needs-to-be-cherry-picked

#1245 Fix clients
  client/source/class/cv/io/Client.js
  source/class/cv/parser/widgets/Web.js
  source/test/karma/ui/structure/pure/Web-spec.js
Labels: bug / bugfix, client, needs-to-be-cherry-picked

#1246 fix gradient background definition
  source/resource/designs/metal/basic.css
Labels: bug / bugfix, designs, needs-to-be-cherry-picked

#1247 Clock plugin: Fix initialisation problems.
  source/class/cv/plugins/Clock.js
  source/class/cv/ui/common/Refresh.js
Labels: bug / bugfix, plugins, needs-to-be-cherry-picked

#1249 Handle when SVG for TrickOMatic is loading too quickly
  source/class/cv/TemplateEngine.js
  source/class/cv/ui/TrickOMatic.js
Labels: bug / bugfix, needs-to-be-cherry-picked

#1251 Fix touch passive warnings
  source/class/cv/ui/structure/pure/NavBar.js
Labels: bug / bugfix, enhancement, needs-to-be-cherry-picked

#1253 Optimize navbar handling.
  source/class/cv/Application.js
  source/class/cv/ui/structure/pure/NavBar.js
Labels: bug / bugfix, needs-to-be-cherry-picked

#1254 Make 2d3d demo work again (see also #1208)
  source/class/cv/TemplateEngine.js
  source/class/cv/ui/PageHandler.js
  source/class/cv/ui/structure/WidgetFactory.js
  source/resource/demo/media/demo_2d_backdrop_red_pot.js
  source/resource/demo/media/demo_2d_backdrop_red_pot.svg
  source/resource/demo/visu_config_2d3d.xml
  source/resource/demo/visu_config_demo.xml
  source/resource/demo/visu_config_demo_testmode.xml
  source/resource/demo/visu_config_gauge.xml
Labels: bug / bugfix, documentation, needs-to-be-cherry-picked, sentry-available

#1256 remove android blue background highlight on tap
  source/resource/designs/metal/basic.css
Labels: bug / bugfix, designs, needs-to-be-cherry-picked

#1258 Fix documentation according to review.
  doc/manual/de/config/xml-format.rst
  doc/manual/de/install/allgemein.rst
  doc/manual/de/spelling_wordlist.txt
  doc/manual/en/config/xml-format.rst
  doc/manual/en/devel/index.rst
  doc/manual/en/install/generic.rst
  doc/manual/en/spelling_wordlist.txt
  source/class/cv/ui/manager/model/schema/DocumentationMapping.js
  source/resource/visu_config.xsd
Labels: documentation, needs-to-be-cherry-picked

#1252 Optimize diagram
  doc/manual/de/config/widgets/plugins/diagram/index.rst
  source/class/cv/plugins/diagram/Diagram.js
  source/resource/demo/visu_config_demo.xml
  source/resource/designs/designglobals.css
  source/resource/visu_config.xsd
Labels: plugins, needs-to-be-cherry-picked

#1262 fix configuration upgrader process
  source/class/cv/ui/Popup.js
  source/class/cv/ui/manager/editor/Diff.js
  source/class/cv/util/ConfigLoader.js
Labels: bug / bugfix, core, needs-to-be-cherry-picked

#1261 use space as clearfix content, fixes layout problem in chrome
  source/resource/designs/metal/basic.css
Labels: bug / bugfix, designs, needs-to-be-cherry-picked

#1264 Enhance MQTT transfom documentation
  source/class/cv/transforms/Mqtt.js
Labels: documentation, needs-to-be-cherry-picked
