Repository CometVisu/CometVisu, pull requests merged in 2023-08, with the labels that each got.

#1360 Make backward compatible with old PHP versions.
  source/rest/manager/environment.php
Labels: bug / bugfix

#1359 Tile improvements
  .github/actions/update-webdriver/action.yml
  DEVELOPMENT.md
  Gruntfile.js
  doc/manual/de/config/structure-tile/components/_static/cv-chart-pv-bar.png
  doc/manual/de/config/structure-tile/components/_static/cv-chart-pv-nav-open.png
  doc/manual/de/config/structure-tile/components/_static/cv-chart-pv-nav.png
  doc/manual/de/config/structure-tile/components/_static/cv-chart-pv-tooltip.png
  doc/manual/de/config/structure-tile/components/_static/cv-chart-pv.png
  doc/manual/de/config/structure-tile/components/_static/cv-chart-temp.png
  doc/manual/de/config/structure-tile/components/_static/shot-index.json
  doc/manual/de/config/structure-tile/components/chart.rst
  package-lock.json
  package.json
  source/class/cv/data/Simulation.js
  source/class/cv/io/Fetch.js
  source/class/cv/io/openhab/Rest.js
  source/class/cv/io/timeseries/AbstractTimeSeriesSource.js
  source/class/cv/io/timeseries/DemoSource.js
  source/class/cv/io/timeseries/FluxSource.js
  source/class/cv/io/timeseries/OpenhabPersistenceSource.js
  source/class/cv/io/timeseries/RRDSource.js
  source/class/cv/ui/manager/editor/Tree.js
  source/class/cv/ui/manager/form/SourceCodeField.js
  source/class/cv/ui/manager/model/schema/DocumentationMapping.js
  source/class/cv/ui/structure/tile/components/Chart.js
  source/class/cv/ui/structure/tile/components/Slider.js
  source/class/cv/ui/structure/tile/widgets/Tile.js
  source/class/cv/util/Prettifier.js
  source/resource/demo/visu_config_demo-tile.xml
  source/resource/designs/tile/basic.scss
  source/resource/designs/tile/design_setup.js
  source/resource/visu_config_tile.xsd
  source/rest/manager/src/Api/RequestproxyApi.php
  source/test/karma/karma.conf.js
Labels: core, designs

#1362 entries in cv.Config.configSettings.stylesToLoad
  source/class/cv/Application.js
Labels: bug / bugfix

#1363 entries in cv.Config.configSettings.stylesToLoad can be objects {ur…
  .github/actions/update-webdriver/action.yml
  source/class/cv/Application.js
Labels: bug / bugfix

#1364 More robusness for failing environment PHP request
  source/class/cv/Application.js
  source/translation/de.po
  source/translation/en.po
Labels: bug / bugfix, enhancement

#1366 fix inline flux query handling
  source/class/cv/io/timeseries/AbstractTimeSeriesSource.js
  source/class/cv/io/timeseries/FluxSource.js
Labels: bug / bugfix
