Repository CometVisu/CometVisu, pull requests merged in 2023-12, with the labels that each got.

#1380 Fix documentation
  doc/manual/de/install/timberwolf.rst
  doc/manual/en/install/timberwolf.rst
Labels: documentation

#1381 Fix documentation as the docker "arm" built is now included
  doc/manual/de/install/timberwolf.rst
  doc/manual/en/install/timberwolf.rst
Labels: documentation

#1383 fix calendar week end date calculation
  package-lock.json
  package.json
  source/class/cv/ui/structure/tile/components/Chart.js
  source/class/cv/ui/structure/tile/components/Flow.js
  source/class/cv/ui/structure/tile/components/energy/PowerEntity.js
  source/class/cv/ui/structure/tile/components/svg/MGraphicsElement.js
  source/class/cv/ui/structure/tile/components/svg/RoundValue.js
  source/class/cv/ui/structure/tile/components/svg/TextValue.js
  source/resource/designs/tile/basic.scss
Labels: bug / bugfix, widgets

#1385 fix slot-progress-mapping attribbute handling
  source/class/cv/ui/structure/tile/Controller.js
Labels: bug / bugfix, widgets

#1386 add openHAB persistence service as list model
  doc/manual/de/config/structure-tile/components/list.rst
  source/class/cv/io/listmodel/OpenHAB.js
  source/class/cv/io/listmodel/Registry.js
  source/class/cv/io/listmodel/RssLog.js
  source/class/cv/io/openhab/Rest.js
  source/resource/visu_config_tile.xsd
Labels: enhancement

#1387 Some list features + RSS-plugin fix
  .github/workflows/build_release.yml
  .github/workflows/main.yml
  .github/workflows/spellcheck_docs.yml
  .github/workflows/update_docs.yml
  doc/manual/de/config/structure-tile/components/chart.rst
  doc/manual/de/config/structure-tile/components/list.rst
  doc/manual/de/config/structure-tile/components/svg-round-value.rst
  doc/manual/de/config/structure-tile/elements/address-group.rst
  doc/manual/de/config/structure-tile/elements/address.rst
  doc/manual/de/config/structure-tile/index.rst
  doc/manual/de/config/widgets/plugins/strftime/index.rst
  doc/manual/de/spelling_wordlist.txt
  doc/manual/en/colab/index.rst
  doc/manual/en/spelling_wordlist.txt
  source/class/cv/io/listmodel/RssLog.js
  source/class/cv/plugins/RssLog.js
  source/class/cv/ui/manager/model/schema/Element.js
  source/class/cv/ui/structure/tile/components/AbstractComponent.js
  source/class/cv/ui/structure/tile/components/List.js
  source/resource/plugins/rsslog/rsslog.php
  source/resource/visu_config_tile.xsd
  utils/commands/doc.py
  utils/requirements.txt
Labels: bug / bugfix, enhancement
