Repository CometVisu/CometVisu, pull requests merged in 2024-01, with the labels that each got.

#1389 handle rare cases where other custom element may not have been initia…
  source/class/cv/report/Record.js
  source/class/cv/ui/structure/tile/components/Value.js
Labels: bug / bugfix

#1390 Fix recording/replay
  source/class/cv/io/BackendConnections.js
  source/class/cv/report/Record.js
  source/class/cv/ui/structure/pure/Controller.js
  source/class/cv/ui/structure/tile/Controller.js
  source/class/cv/ui/structure/tile/elements/Backend.js
  source/test/karma/ui/structure/tile/elements/Backend-spec.js
Labels: bug / bugfix

#1391 Fix media progress
  source/class/cv/ui/structure/tile/components/Button.js
  source/resource/demo/visu_config_demo-tile.xml
  source/resource/structures/tile/templates.xml
Labels: bug / bugfix, widgets

#1392 fix day and month end period date calculation
  source/class/cv/ui/structure/tile/components/Chart.js
Labels: bug / bugfix, widgets

#1394 make template completion provider more robust
  source/class/cv/ui/manager/editor/completion/Config.js
Labels: bug / bugfix, editor, needs-to-be-cherry-picked

#1395 make template completion provider more robust
  package-lock.json
  package.json
  source/class/cv/ui/manager/editor/completion/Config.js
  utils/ci/browser-setup.sh
Labels: bug / bugfix, editor

#1396 Feature client ID and fix bus initiated page switch
  doc/manual/de/config/url-params.rst
  doc/manual/de/config/widgets/page/index.rst
  doc/manual/en/config/url-params.rst
  doc/manual/en/config/widgets/page/index.rst
  source/class/cv/Application.js
  source/class/cv/Config.js
  source/class/cv/parser/pure/widgets/Page.js
  source/class/cv/ui/structure/pure/Page.js
  source/class/cv/ui/structure/pure/Slide.js
  source/resource/visu_config.xsd
  source/test/karma/ui/structure/pure/Page-spec.js
Labels: bug / bugfix, enhancement
