Repository CometVisu/CometVisu, pull requests merged in 2024-12, with the labels that each got.

#1420 Fix startup and code style
  client/source/class/cv/io/Client.js
  client/source/class/cv/io/IClient.js
  client/source/class/cv/io/Watchdog.js
  client/source/class/cv/io/parser/Json.js
  client/source/class/cv/io/transport/LongPolling.js
  source/class/cv/Application.js
  source/class/cv/Config.js
  source/class/cv/TemplateEngine.js
  source/class/cv/io/BackendConnections.js
  source/translation/de.po
  source/translation/en.po
Labels: bug / bugfix, enhancement, core

#1421 Fix multi backend for pure
  source/class/cv/data/Model.js
  source/class/cv/ui/common/Operate.js
  source/class/cv/ui/structure/pure/Controller.js
  source/resource/visu_config.xsd
Labels: bug / bugfix

#1422 Fixes & features for tile structure
  compile.json
  doc/manual/de/config/hidden-config.rst
  doc/manual/de/config/structure-tile/components/_static/cv-chart-pv-h-lines.png
  doc/manual/de/config/structure-tile/components/_static/cv-chart-pv-v-lines.png
  doc/manual/de/config/structure-tile/components/_static/shot-index.json
  doc/manual/de/config/structure-tile/components/chart.rst
  doc/manual/de/spelling_wordlist.txt
  doc/manual/en/config/hidden-config.rst
  doc/manual/en/config/manager.rst
  doc/manual/en/config/structure-tile/components/_static/cv-chart-pv-bar.png
  doc/manual/en/config/structure-tile/components/_static/cv-chart-pv-h-lines.png
  doc/manual/en/config/structure-tile/components/_static/cv-chart-pv-nav-open.png
  doc/manual/en/config/structure-tile/components/_static/cv-chart-pv-nav.png
  doc/manual/en/config/structure-tile/components/_static/cv-chart-pv-tooltip.png
  doc/manual/en/config/structure-tile/components/_static/cv-chart-pv-v-lines.png
  doc/manual/en/config/structure-tile/components/_static/cv-chart-pv.png
  doc/manual/en/config/structure-tile/components/_static/cv-chart-temp.png
  doc/manual/en/config/structure-tile/components/_static/shot-index.json
  doc/manual/en/config/structure-tile/components/chart.rst
  doc/manual/en/config/structure-tile/widgets/_static/cv-energy-complex-right.png
  doc/manual/en/config/widgets/infoaction/_static/en_config_widgets_infoaction_index_editor_elements.png
  doc/manual/en/config/widgets/infoaction/_static/shot-index.json
  package-lock.json
  source/class/cv/io/openhab/Rest.js
  source/class/cv/io/timeseries/AbstractTimeSeriesSource.js
  source/class/cv/io/timeseries/Plugin.js
  source/class/cv/plugins/RssLog.js
  source/class/cv/ui/common/Operate.js
  source/class/cv/ui/manager/editor/completion/CometVisu.js
  source/class/cv/ui/structure/pure/Page.js
  source/class/cv/ui/structure/pure/Web.js
  source/class/cv/ui/structure/tile/MPopup.js
  source/class/cv/ui/structure/tile/components/AbstractComponent.js
  source/class/cv/ui/structure/tile/components/Chart.js
  source/class/cv/ui/structure/tile/components/Spinner.js
  source/class/cv/ui/structure/tile/elements/Address.js
  source/class/cv/ui/structure/tile/widgets/Popup.js
  source/resource/demo/templates/ChartSourcePlugin.js
  source/resource/designs/tile/basic.scss
  source/resource/libs/d3.min.js
  source/resource/libs/d3.min.js.map
  source/resource/visu_config_tile.xsd
  utils/commands/doc.py
  utils/docutils/directives/cometvisu.py
  utils/docutils/directives/helper/schema.py
  utils/docutils/directives/helper/widget_example_parser.py
  utils/docutils/directives/widget_example.py
  utils/screenshots-spec.js
Labels: bug / bugfix, enhancement, plugins, documentation

#1423 fix: use the trimmed tag-array
  source/class/cv/plugins/RssLog.js
Labels: bug / bugfix, plugins

#1425 Fix MQTT login when credentials are only set in the URL
  source/class/cv/io/mqtt/Client.js
Labels: bug / bugfix

#1427 fix: screenshot localization
  Gruntfile.js
  doc/manual/de/config/_static/oh_datetime.png
  doc/manual/de/config/_static/shot-index.json
  doc/manual/de/config/mapping.rst
  doc/manual/en/config/_static/mapping_oh_datetime.png
  doc/manual/en/config/_static/oh_datetime.png
  doc/manual/en/config/_static/shot-index.json
  doc/manual/en/config/mapping.rst
  source/test/protractor/pages/BasePage.js
  utils/commands/doc.py
  utils/protractor.conf.js
  utils/screenshots-spec.js
Labels: bug / bugfix, documentation

#1429 Handle bad server replies for loading diagram data better
  source/class/cv/plugins/diagram/AbstractDiagram.js
  source/translation/de.po
  source/translation/en.po
Labels: enhancement
